* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
*::-webkit-scrollbar {
  display: none;
}
input {
  border: 1px solid #dcdfe6;
  border-radius: 6px;
  height: 26px ;
  padding: 3px 4px;
}
select {
  border: 1px solid #dcdfe6;
  border-radius: 6px;
  height: 26px ;
  padding: 3px 4px;
}
body {
  padding: 12px;
  font-size: 14px;
}
.underlineCenter {
  display: inline-block;
  border-bottom: 1px solid currentColor;
  text-align: center;
}
.underlineLeft {
  display: inline-block;
  border-bottom: 1px solid black;
  text-align: left;
  padding-left: 4px;
}
.row {
  display: flex;
}
.mr0 {
  margin-right: 0;
}
.btn {
  display: inline-block;
  margin: 5px;
  padding: 6px 12px;
  border-radius: 10px;
  background-color: #14a9ff;
  color: white;
  border: none;
  outline: none;
  font-size: 14px;
}
.btn:hover {
  cursor: pointer;
}
/* 提示框基础样式 */
._tooltip_ {
  display: none;
  position: fixed;
  /* 固定位置 */
  padding: 10px 20px;
  /* 内边距 */
  border-radius: 4px;
  /* 圆角 */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  /* 阴影效果 */
  font-size: 14px;
  /* 字体大小 */
  white-space: nowrap;
  /* 不换行 */
  z-index: 1000;
  /* 保证在最上层 */
  transition: opacity 0.3s, transform 0.3s;
  /* 动效 */
  opacity: 0;
  /* 初始透明度 */
  transform: translateY(-10px);
  /* 初始位置 */
}
/* 不同状态的样式 */
._tooltip_.success {
  background-color: rgba(76, 175, 80, 0.8);
  /* 成功状态绿 */
  color: #ffffff;
  /* 文字颜色 */
}
._tooltip_.error {
  background-color: rgba(244, 67, 54, 0.8);
  /* 错误状态红 */
  color: #ffffff;
  /* 文字颜色 */
}
._tooltip_.warning {
  background-color: rgba(255, 152, 0, 0.8);
  /* 警告状态橙 */
  color: #ffffff;
  /* 文字颜色 */
}
._tooltip_.info {
  background-color: rgba(33, 150, 243, 0.8);
  /* 信息状态蓝 */
  color: #ffffff;
  /* 文字颜色 */
}
.topSearch {
  margin-bottom: 10px;
  box-shadow: 8px 7px 33px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}
.topSearch .searchBtn {
  display: inline-block;
  margin: 2px;
  padding: 4px 8px;
  border-radius: 10px;
  background-color: #14a9ff;
  color: white;
  border: none;
  outline: none;
  font-size: 14px;
}
.topSearch .searchBtn:hover {
  cursor: pointer;
}
.boxTitle {
  color: #2769f8;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
  margin-left: 3px;
}
.box {
  padding: 20px;
  box-shadow: 8px 7px 33px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.userInfo {
  margin-bottom: 20px;
}
.userInfo .infoItem {
  display: flex;
  align-items: center;
  height: 20px;
  line-height: 20px;
  margin-right: 16px;
  flex-wrap: nowrap;
}
.userInfo .infoItem .label {
  margin-right: 4px;
  white-space: nowrap;
}
.userInfo .infoItem .value {
  /* min-width: 180px; */
  width: 12vw;
}
.result {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.result .resultLeft {
  width: 48%;
  height: 250px;
  border: 1px solid #b3b3b3;
  border-radius: 10px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* 标准 */
}
.result .resultLeft .resItem {
  padding: 3px 6px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.result .resultLeft .resItem:hover {
  background-color: #f5f5f5;
}
.result .resultLeft .resItem .iconSmile {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../assets/image/smile.png") center center no-repeat;
  background-size: 100% 100%;
  margin-right: 4px;
}
.result .icon {
  width: 4%;
  flex-shrink: 0;
  text-align: center;
}
.result .resultRight {
  width: 48%;
  height: 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.result .resultRight .title {
  margin-top: -20px;
  color: #2769f8;
}
.result .resultRight .content {
  padding: 4px 6px;
  border: 1px solid #fc0000;
}
.result .resultRight .uploadBtn {
  position: absolute;
  bottom: 6px;
  right: 0;
}
.result .resultRight .inputContent {
  border: 1px solid #dcdfe6;
  border-radius: 6px;
  height: 100%;
  width: 100%;
  padding: 6px 6px;
}
.result .resultRight .rightTop {
  height: 40%;
  border-radius: 10px;
  position: relative;
}
.result .resultRight .rightTop .resultBtn {
  position: absolute;
  bottom: 6px;
  right: 0;
  background-color: #ffa1a1;
  text-align: center;
}
.result .resultRight .rightBottom {
  height: 50%;
  border-radius: 10px;
  position: relative;
}
.result .resultRight .rightBottom .diagnosisBtn {
  position: absolute;
  bottom: 6px;
  right: 0;
  background-color: #ffa1a1;
  text-align: center;
}
.button .row {
  display: flex;
  align-items: center;
}
.button .infoItem {
  display: flex;
  line-height: 20px;
  margin-bottom: 10px;
  margin-right: 16px;
  flex-wrap: nowrap;
}
.button .infoItem .label {
  margin-right: 4px;
  white-space: nowrap;
}
.button .infoItem .value {
  min-width: 100px;
  width: 9vw;
}
